.display-container {
  margin-bottom: 48px;
  width: 100%;
  min-height: 480px;
  border-radius: 48px;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  flex-direction: column;
}

.left-container {
  flex: auto;
  margin-top: 72px;
}

.left-content {
  padding-left: 30px;
  padding-right: 30px;
}

.tools-list {
  display: flex;
  flex-wrap: wrap;
  column-gap: 16px;
  row-gap: 2px;
  font-size: 14px;
  color: var(--mds-color-text-muted-dim);
  margin-bottom: 16px;
}

.project-name {
  font-size: 24px;
  line-height: 1.3;
  font-weight: 600;
  color: var(--mds-color-text-normal);
  margin-bottom: 16px;
}

.project-summary {
  color: var(--mds-color-text-understated);
  margin-bottom: 20px;
}

.link-icon-list {
  display: flex;
  align-items: center;
  gap: 16px;
  font-size: 14px;
  margin-bottom: 16px;
}

.right-container {
  flex: auto;
  margin-bottom: 45px;
}

.right-container {
  position: relative;
  margin-top: 20px;
  height: 192px;
  width: 100%;
}

.project-image {
  position: absolute;
  top: 0px;
  left: 30px;
  width: 800px;
  border-radius: 8px;
  filter: brightness(var(--mds-image-brightness));
}

@media screen and (min-width: 640px) {
  .display-container {
    margin-bottom: 48px;
    width: 100%;
    min-height: 480px;
    border-radius: 48px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    overflow: hidden;
  }

  .left-container {
    display: flex;
    flex: 1;
    margin-top: 0px;
  }

  .left-content {
    padding-left: 58px;
  }

  .right-container {
    display: flex;
    flex: 1;
    position: relative;
    height: 256px;
  }

  .project-image {
    left: 40px;
  }
}

@media screen and (min-width: 1024px) {
  .left-content {
    padding-left: 88px;
  }
}
