.learnings-list-scope {
  --project-name-color: var(--mds-color-text-normal);
  --overlay-link-hover-color: var(--mds-color-bg-faint);
}

.learnings-list-scope {
  .list-item {
    position: relative;

    .overlay-link {
      background-color: transparent;
    }
    .info-link {
      color: var(--mds-color-hover-emphasize-inactive);
    }
  }
  .list-item:hover {
    .overlay-link {
      background-color: var(--overlay-link-hover-color);
    }
    .info-link {
      color: var(--mds-color-hover-emphasize-active);
    }
  }

  // https://stackoverflow.com/a/46707009 : nested link css hack
  .overlay-link {
    margin-top: 1px;
    position: absolute;
    top: -1px;
    left: 0px;
    right: 0px;
    bottom: -1px;
    width: 104%;
    border-radius: 8px;
    margin-left: -2%;
    padding: 0 50px;
  }

  .content-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-grow: 1;
    border-bottom: 1px solid var(--overlay-link-hover-color);
    padding: 16px 0px;
    position: relative;
    pointer-events: none;
    gap: 16px;
    max-width: 100%;
  }

  .project-name-container {
    display: flex;
    flex-wrap: wrap;
  }

  .project-name {
    font-weight: 500;
    color: var(--project-name-color);
    font-size: 15px;
  }

  .project-links-container {
    display: flex;
    gap: 12px;
    pointer-events: none;
  }
}
