.g1 {
  stroke-width: 0.950301;
}

.path {
  fill: #444;
  stroke: #444;
  stroke-width: 0.950301;
  stroke-miterlimit: 4;
  stroke-dasharray: none;
  stroke-dashoffset: 0;
  stroke-opacity: 1;
  paint-order: markers fill stroke;
}

.ellipse {
  fill: #444;
  stroke: #444;
  stroke-width: 0.99999;
  stroke-miterlimit: 4;
  stroke-dasharray: none;
  stroke-dashoffset: 0;
  stroke-opacity: 1;
  paint-order: markers fill stroke;
}
