.light-gray-hover {
  color: #999;
}
.light-gray-hover:hover {
  color: #777;
}

.gray-hover {
  color: #777;
}
.gray-hover:hover {
  color: #555;
}

.dark-gray-hover {
  color: #555;
}
.dark-gray-hover:hover {
  color: #3a3a3a;
}

.hero-icon-padding-top {
  height: 24px;
  width: 24px;
  display: flex;
  align-items: center;
  padding-top: 2px;
  justify-content: center;
}
