/* ==================================================================== */
/* Breakpoints */
/* ==================================================================== */

$breakpoint-xs: 400px;
$breakpoint-sm: 600px;
$breakpoint-md: 800px;
$breakpoint-lg: 1000px;
$breakpoint-xl: 1200px;
